doctype html
html(lang='en')
  head    
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-177268419-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-177268419-1');  

    meta(charset='utf-8')
    title Pattern Generation
    meta(name='description' content='')
    meta(name='author' content='Rowan')    
    meta(name='viewport' content='width=device-width, initial-scale=1')   
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/skeleton.css')    
    link(rel='stylesheet' href='css/app.css')        
    link(rel='icon' type='image/png' href='images/favicon.png')

    script(src="https://unpkg.com/tone")       
  body    
    .container
      .row
        .twelve.column(style='margin-top:5%')

          div(style="text-align:center")
            div(class="title-item") Key: 
            div
              select(id="key" name="key" class="select-css")
                each item in keys
                  option(value=item selected=(item == selectedKey)) #{item}

            div(class="title-item") Scale: 
            div
              select(id="scale" name="scale" class="select-css")
                each item in allScales
                  option(value=item selected=(item == selectedScale)) #{item}

            div(class="title-item") Number of notes: 
            div
              select(id="notes" name="notes" class="select-css")
                -for(var i = 1;i<=16;i++){
                  option(value=i selected=(i == selectedNumberOfNotes)) #{i}
                  -}

            div(class="title-item") Tempo:  
              div(id="tempo" style="display:inline") #{currentTempo}

            div(class="slidecontainer")
              input(type="range" min="40" max="600" step="10" value=currentTempo class="slider" id="tempoRange")

            br
            div Randomized notes from 
              i #{allNotes}  
            br 
            br
            div(id="current-pattern", class="hidden") #{pattern.toString()}
            div(class="note-container")
              each item in pattern
                div(class="note-item") #{item}
            br
            div()
              button(id="play-button") Play
              button(id="refresh-button") New Notes
              button(id="note-share-button") Share            
            div(id="share-url")

            br
            br
            a(href="https://github.com/goatonabicycle/note-generation", target="_blank") Code here
            br                       

            script(src="js/ui.js", type="module")


