doctype html
html(lang='en')
  head    
    meta(charset='utf-8')
    title Pattern Generation
    meta(name='description' content='')
    meta(name='author' content='Rowan')    
    meta(name='viewport' content='width=device-width, initial-scale=1')   
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/skeleton.css')    
    link(rel='stylesheet' href='css/app.css')    
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='icon' type='image/png' href='images/favicon.png')

    script(src="https://unpkg.com/tone")   
  body    
    .container
      .row
        .twelve.column(style='margin-top: 25%')

          div(style="")

            div Mode: 
            div
              select(id="mode" name="mode")
                each item in modes
                  option(value=item) #{item}

            br
            div Number of notes: 
            div
              select(id="notes" name="notes")
                -for(var i = 1;i<=16;i++){
                  option(value=i) #{i}
                  -}

            div Tempo: 
            div(id="tempo" style="display:inline") #{tempo}
            br
            br
            div Base notes: #{allNotes}
            br          
            div(style="display: flex;flex-direction: row;")
              each item in pattern
                div(class="note-item") #{item}
            br
            button(id="play-button") Play

script(src="js/patterns.js")
script(src="js/options.js")

