doctype html
html(lang='en')
  head    
    meta(charset='utf-8')
    title Pattern Generation
    meta(name='description' content='')
    meta(name='author' content='Rowan')    
    meta(name='viewport' content='width=device-width, initial-scale=1')   
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/skeleton.css')    
    link(rel='stylesheet' href='css/app.css')        
    link(rel='icon' type='image/png' href='images/favicon.png')

    script(src="https://unpkg.com/tone")   
  body    
    .container
      .row
        .twelve.column(style='margin-top:5%')

          div(style="")

            div Key: 
            div
              select(id="key" name="key")
                each item in keys
                  option(value=item) #{item}

            div Scales: 
            div
              select(id="scale" name="scale")
                each item in allScales
                  option(value=item) #{item}


            div Number of notes: 
            div
              select(id="notes" name="notes")
                -for(var i = 1;i<=16;i++){
                  option(value=i) #{i}
                  -}

            div Tempo:  
              div(id="tempo" style="display:inline") #{currentTempo}

            div(class="slidecontainer")
              input(type="range" min="40" max="600" step="10" value=currentTempo class="slider" id="tempoRange")


            div Base notes: #{allNotes}
            br  
            div Randomized notes:       
            div(style="display: flex;flex-direction: row;")
              each item in pattern
                div(class="note-item") #{item}
            br
            button(id="play-button") Play
            button(id="refresh-button") Refresh
            br
            br
            a(href="https://github.com/goatonabicycle/note-generation") Code here
            br                       

script(src="js/options.js")
script(src="js/patterns.js")


